<!DOCTYPE html>
<html>
  <head>
    <title>ACTAWeb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <div id="content-container">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>

<style>
  body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  #content-container{
    flex-grow: 1;
  }
</style>
